<div class="comment">
  <div class="created_at"><%= comment.created_at.strftime("%B %d, %Y") %></div>
  <div class="content">
    <%= comment.body %>
  </div>
  <div class="actions">
    <%= link_to "Reply", new_comment_path(:parent_id => comment,:article_id => comment.article_id), :remote => "true" %> |
    <%= link_to "Destroy", comment, :confirm => "Are you sure?", :method => :delete %>
  </div>
</div>